{% extends "base.html" %} {% block title %} Index Page {% endblock %} {% block content %}

<h1>This is the contact page - 'contact.html'</h1>

<form class="" action="index.html">
  <div class="container s6">
  <div class="input-field col s6">
    <input placeholder="" id="first_name" type="text" class="validate">
    <label for="first_name">Bud</label>
  </div>
  <div class="input-field col s6">
    <input placeholder="" id="last_name" type="text" class="validate">
    <label for="last_name">Gidire</label>
  <div class="input-field col s6">
    <input placeholder="" id="email" type="text" class="validate">
    <label for="email">sgidiere@gmail.com</label>
  </div>
  <button type="submit" name="button">Submit</button>
</div>

</form>

{% endblock %}
