{% extends "base.html" %} {% block title %} Index Page {% endblock %} {% block content %}

<div class="row card-fitpage center-align" style="width:500px">
  <div>
    <div class="card colorscard">
      <div class="card-image">
        <img src="https://images.fireside.fm/podcasts/images/b/bc7f1faf-8aad-4135-bb12-83a8af679756/cover_small.jpg" style="width:500px; height:500px">
        <span class="card-title"></span>
        <a class="btn-floating halfway-fab waves-effect" style="background-color:#700548"><i class="mdi mdi-account"></i>  <!-- bell --></a>
      </div>
      <div class="card-content colorscard">
        <p>My Favroite Place to Vacaion is my room because playing on my computer is fun! <br> My Favorite Sports Team <br> My Favorite Sports Team is {null} Because i dont watch sports <br> My Favroite Video Game <br> My Favroite Video Game is Fallout 4 because it is fun <br> My Favroite thing about Birmingham</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
